<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juzuan.advertiser.rpts.mapper.CampaignDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.juzuan.advertiser.rpts.model.CampaignDetails" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="taobao_user_id" property="taobaoUserId" jdbcType="VARCHAR" />
    <result column="campaign_id" property="campaignId" jdbcType="BIGINT" />
    <result column="campaign_name" property="campaignName" jdbcType="VARCHAR" />
    <result column="campaign_type" property="campaignType" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="DATE" />
    <result column="end_time" property="endTime" jdbcType="DATE" />
    <result column="day_budget" property="dayBudget" jdbcType="DOUBLE" />
    <result column="online_status" property="onlineStatus" jdbcType="INTEGER" />
    <result column="speed_type" property="speedType" jdbcType="INTEGER" />
    <result column="workdays" property="workdays" jdbcType="VARCHAR" />
    <result column="week_ends" property="weekEnds" jdbcType="VARCHAR" />
    <result column="area_id_list" property="areaIdList" jdbcType="VARCHAR" />
    <result column="campaign_source" property="campaignSource" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, taobao_user_id, campaign_id, campaign_name, campaign_type, start_time, end_time, 
    day_budget, online_status, speed_type, workdays, week_ends, area_id_list, campaign_source, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from campaign_list_details
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAllCampaign" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from campaign_list_details
  </select>
  <select id="selectDistinct"    >
    select distinct taobao_user_id, campaign_type
    from campaign_list_details
  </select>
  <delete id="deleteBySource" parameterType="java.lang.Long" >
    delete from campaign_list_details
    where campaign_source = #{campaignSource,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from campaign_list_details
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.juzuan.advertiser.rpts.model.CampaignDetails" >
    insert into campaign_list_details (id, taobao_user_id, campaign_id,
      campaign_name, campaign_type, start_time,
      end_time, day_budget, online_status,
      speed_type, workdays, week_ends,
      area_id_list, campaign_source, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{taobaoUserId,jdbcType=VARCHAR}, #{campaignId,jdbcType=BIGINT},
      #{campaignName,jdbcType=VARCHAR}, #{campaignType,jdbcType=INTEGER}, #{startTime,jdbcType=DATE},
      #{endTime,jdbcType=DATE}, #{dayBudget,jdbcType=DOUBLE}, #{onlineStatus,jdbcType=INTEGER},
      #{speedType,jdbcType=INTEGER}, #{workdays,jdbcType=VARCHAR}, #{weekEnds,jdbcType=VARCHAR},
      #{areaIdList,jdbcType=VARCHAR}, #{campaignSource,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertOrUpdate" parameterType="com.juzuan.advertiser.rpts.model.CampaignDetails" >
    insert into campaign_list_details (id, taobao_user_id, campaign_id,
                                       campaign_name, campaign_type, start_time,
                                       end_time, day_budget, online_status,
                                       speed_type, workdays, week_ends,
                                       area_id_list,update_time)
    values (#{id,jdbcType=BIGINT}, #{taobaoUserId,jdbcType=VARCHAR}, #{campaignId,jdbcType=BIGINT},
            #{campaignName,jdbcType=VARCHAR}, #{campaignType,jdbcType=INTEGER}, #{startTime,jdbcType=DATE},
            #{endTime,jdbcType=DATE}, #{dayBudget,jdbcType=DOUBLE}, #{onlineStatus,jdbcType=INTEGER},
            #{speedType,jdbcType=INTEGER}, #{workdays,jdbcType=VARCHAR}, #{weekEnds,jdbcType=VARCHAR},
            #{areaIdList,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR}
           ) on  DUPLICATE key update campaign_id=#{campaignId,jdbcType=BIGINT}
  </insert>
  <insert id="insertSelective" parameterType="com.juzuan.advertiser.rpts.model.CampaignDetails" >
    insert into campaign_list_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taobaoUserId != null" >
        taobao_user_id,
      </if>
      <if test="campaignId != null" >
        campaign_id,
      </if>
      <if test="campaignName != null" >
        campaign_name,
      </if>
      <if test="campaignType != null" >
        campaign_type,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="dayBudget != null" >
        day_budget,
      </if>
      <if test="onlineStatus != null" >
        online_status,
      </if>
      <if test="speedType != null" >
        speed_type,
      </if>
      <if test="workdays != null" >
        workdays,
      </if>
      <if test="weekEnds != null" >
        week_ends,
      </if>
      <if test="areaIdList != null" >
        area_id_list,
      </if>
      <if test="campaignSource != null" >
        campaign_source,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taobaoUserId != null" >
        #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="campaignId != null" >
        #{campaignId,jdbcType=BIGINT},
      </if>
      <if test="campaignName != null" >
        #{campaignName,jdbcType=VARCHAR},
      </if>
      <if test="campaignType != null" >
        #{campaignType,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=DATE},
      </if>
      <if test="dayBudget != null" >
        #{dayBudget,jdbcType=DOUBLE},
      </if>
      <if test="onlineStatus != null" >
        #{onlineStatus,jdbcType=INTEGER},
      </if>
      <if test="speedType != null" >
        #{speedType,jdbcType=INTEGER},
      </if>
      <if test="workdays != null" >
        #{workdays,jdbcType=VARCHAR},
      </if>
      <if test="weekEnds != null" >
        #{weekEnds,jdbcType=VARCHAR},
      </if>
      <if test="areaIdList != null" >
        #{areaIdList,jdbcType=VARCHAR},
      </if>
      <if test="campaignSource != null" >
        #{campaignSource,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juzuan.advertiser.rpts.model.CampaignDetails" >
    update campaign_list_details
    <set >
      <if test="taobaoUserId != null" >
        taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="campaignId != null" >
        campaign_id = #{campaignId,jdbcType=BIGINT},
      </if>
      <if test="campaignName != null" >
        campaign_name = #{campaignName,jdbcType=VARCHAR},
      </if>
      <if test="campaignType != null" >
        campaign_type = #{campaignType,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="dayBudget != null" >
        day_budget = #{dayBudget,jdbcType=DOUBLE},
      </if>
      <if test="onlineStatus != null" >
        online_status = #{onlineStatus,jdbcType=INTEGER},
      </if>
      <if test="speedType != null" >
        speed_type = #{speedType,jdbcType=INTEGER},
      </if>
      <if test="workdays != null" >
        workdays = #{workdays,jdbcType=VARCHAR},
      </if>
      <if test="weekEnds != null" >
        week_ends = #{weekEnds,jdbcType=VARCHAR},
      </if>
      <if test="areaIdList != null" >
        area_id_list = #{areaIdList,jdbcType=VARCHAR},
      </if>
      <if test="campaignSource != null" >
        campaign_source = #{campaignSource,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juzuan.advertiser.rpts.model.CampaignDetails" >
    update campaign_list_details
    set taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      campaign_id = #{campaignId,jdbcType=BIGINT},
      campaign_name = #{campaignName,jdbcType=VARCHAR},
      campaign_type = #{campaignType,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=DATE},
      end_time = #{endTime,jdbcType=DATE},
      day_budget = #{dayBudget,jdbcType=DOUBLE},
      online_status = #{onlineStatus,jdbcType=INTEGER},
      speed_type = #{speedType,jdbcType=INTEGER},
      workdays = #{workdays,jdbcType=VARCHAR},
      week_ends = #{weekEnds,jdbcType=VARCHAR},
      area_id_list = #{areaIdList,jdbcType=VARCHAR},
      campaign_source = #{campaignSource,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>