<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juzuan.advertiser.rpts.mapper.CategoryRptsTotalGetMapper" >
  <resultMap id="BaseResultMap" type="com.juzuan.advertiser.rpts.model.CategoryRptsTotalGet" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="taobao_user_id" property="taobaoUserId" jdbcType="VARCHAR" />
    <result column="cat_id" property="catId" jdbcType="VARCHAR" />
    <result column="cat_name" property="catName" jdbcType="VARCHAR" />
    <result column="ctr" property="ctr" jdbcType="VARCHAR" />
    <result column="ecpc" property="ecpc" jdbcType="VARCHAR" />
    <result column="ecpm" property="ecpm" jdbcType="VARCHAR" />
    <result column="cvr" property="cvr" jdbcType="VARCHAR" />
    <result column="roi" property="roi" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, taobao_user_id, cat_id, cat_name, ctr, ecpc, ecpm, cvr, roi
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from category_rpts_total_get
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from category_rpts_total_get
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.juzuan.advertiser.rpts.model.CategoryRptsTotalGet" >
    insert into category_rpts_total_get (id, taobao_user_id, cat_id, 
      cat_name, ctr, ecpc, 
      ecpm, cvr, roi)
    values (#{id,jdbcType=BIGINT}, #{taobaoUserId,jdbcType=VARCHAR}, #{catId,jdbcType=VARCHAR}, 
      #{catName,jdbcType=VARCHAR}, #{ctr,jdbcType=VARCHAR}, #{ecpc,jdbcType=VARCHAR}, 
      #{ecpm,jdbcType=VARCHAR}, #{cvr,jdbcType=VARCHAR}, #{roi,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.juzuan.advertiser.rpts.model.CategoryRptsTotalGet" >
    insert into category_rpts_total_get
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taobaoUserId != null" >
        taobao_user_id,
      </if>
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="catName != null" >
        cat_name,
      </if>
      <if test="ctr != null" >
        ctr,
      </if>
      <if test="ecpc != null" >
        ecpc,
      </if>
      <if test="ecpm != null" >
        ecpm,
      </if>
      <if test="cvr != null" >
        cvr,
      </if>
      <if test="roi != null" >
        roi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taobaoUserId != null" >
        #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=VARCHAR},
      </if>
      <if test="catName != null" >
        #{catName,jdbcType=VARCHAR},
      </if>
      <if test="ctr != null" >
        #{ctr,jdbcType=VARCHAR},
      </if>
      <if test="ecpc != null" >
        #{ecpc,jdbcType=VARCHAR},
      </if>
      <if test="ecpm != null" >
        #{ecpm,jdbcType=VARCHAR},
      </if>
      <if test="cvr != null" >
        #{cvr,jdbcType=VARCHAR},
      </if>
      <if test="roi != null" >
        #{roi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juzuan.advertiser.rpts.model.CategoryRptsTotalGet" >
    update category_rpts_total_get
    <set >
      <if test="taobaoUserId != null" >
        taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=VARCHAR},
      </if>
      <if test="catName != null" >
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
      <if test="ctr != null" >
        ctr = #{ctr,jdbcType=VARCHAR},
      </if>
      <if test="ecpc != null" >
        ecpc = #{ecpc,jdbcType=VARCHAR},
      </if>
      <if test="ecpm != null" >
        ecpm = #{ecpm,jdbcType=VARCHAR},
      </if>
      <if test="cvr != null" >
        cvr = #{cvr,jdbcType=VARCHAR},
      </if>
      <if test="roi != null" >
        roi = #{roi,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juzuan.advertiser.rpts.model.CategoryRptsTotalGet" >
    update category_rpts_total_get
    set taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      cat_id = #{catId,jdbcType=VARCHAR},
      cat_name = #{catName,jdbcType=VARCHAR},
      ctr = #{ctr,jdbcType=VARCHAR},
      ecpc = #{ecpc,jdbcType=VARCHAR},
      ecpm = #{ecpm,jdbcType=VARCHAR},
      cvr = #{cvr,jdbcType=VARCHAR},
      roi = #{roi,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>