<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juzuan.advertiser.rpts.mapper.RequestMapper" >
  <resultMap id="BaseResultMap" type="com.juzuan.advertiser.rpts.model.Request" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="effect" property="effect" jdbcType="BIGINT" />
    <result column="campaign_model" property="campaignModel" jdbcType="BIGINT" />
    <result column="effect_type" property="effectType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, effect, campaign_model, effect_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from request
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllRequest" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from request
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from request
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.juzuan.advertiser.rpts.model.Request" >
    insert into request (id, effect, campaign_model, 
      effect_type)
    values (#{id,jdbcType=INTEGER}, #{effect,jdbcType=BIGINT}, #{campaignModel,jdbcType=BIGINT}, 
      #{effectType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.juzuan.advertiser.rpts.model.Request" >
    insert into request
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="effect != null" >
        effect,
      </if>
      <if test="campaignModel != null" >
        campaign_model,
      </if>
      <if test="effectType != null" >
        effect_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="effect != null" >
        #{effect,jdbcType=BIGINT},
      </if>
      <if test="campaignModel != null" >
        #{campaignModel,jdbcType=BIGINT},
      </if>
      <if test="effectType != null" >
        #{effectType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juzuan.advertiser.rpts.model.Request" >
    update request
    <set >
      <if test="effect != null" >
        effect = #{effect,jdbcType=BIGINT},
      </if>
      <if test="campaignModel != null" >
        campaign_model = #{campaignModel,jdbcType=BIGINT},
      </if>
      <if test="effectType != null" >
        effect_type = #{effectType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juzuan.advertiser.rpts.model.Request" >
    update request
    set effect = #{effect,jdbcType=BIGINT},
      campaign_model = #{campaignModel,jdbcType=BIGINT},
      effect_type = #{effectType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>