<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juzuan.advertiser.rpts.mapper.TaobaoZsRelationshopPackgeTargetConditionMapper" >
  <resultMap id="BaseResultMap" type="com.juzuan.advertiser.rpts.model.TaobaoZsRelationshopPackgeTargetCondition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="taobao_user_id" property="taobaoUserId" jdbcType="VARCHAR" />
    <result column="max_per_sale" property="maxPerSale" jdbcType="BIGINT" />
    <result column="min_per_sale" property="minPerSale" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, taobao_user_id, max_per_sale, min_per_sale
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  select
  <include refid="Base_Column_List" />
  from taobao_zs_relationshop_packge_target_condition
  where id = #{id,jdbcType=INTEGER}
</select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from taobao_zs_relationshop_packge_target_condition
    where taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from taobao_zs_relationshop_packge_target_condition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.juzuan.advertiser.rpts.model.TaobaoZsRelationshopPackgeTargetCondition" >
    insert into taobao_zs_relationshop_packge_target_condition (id, taobao_user_id, max_per_sale, 
      min_per_sale)
    values (#{id,jdbcType=INTEGER}, #{taobaoUserId,jdbcType=VARCHAR}, #{maxPerSale,jdbcType=BIGINT}, 
      #{minPerSale,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.juzuan.advertiser.rpts.model.TaobaoZsRelationshopPackgeTargetCondition" >
    insert into taobao_zs_relationshop_packge_target_condition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taobaoUserId != null" >
        taobao_user_id,
      </if>
      <if test="maxPerSale != null" >
        max_per_sale,
      </if>
      <if test="minPerSale != null" >
        min_per_sale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taobaoUserId != null" >
        #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="maxPerSale != null" >
        #{maxPerSale,jdbcType=BIGINT},
      </if>
      <if test="minPerSale != null" >
        #{minPerSale,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juzuan.advertiser.rpts.model.TaobaoZsRelationshopPackgeTargetCondition" >
    update taobao_zs_relationshop_packge_target_condition
    <set >
      <if test="taobaoUserId != null" >
        taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="maxPerSale != null" >
        max_per_sale = #{maxPerSale,jdbcType=BIGINT},
      </if>
      <if test="minPerSale != null" >
        min_per_sale = #{minPerSale,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juzuan.advertiser.rpts.model.TaobaoZsRelationshopPackgeTargetCondition" >
    update taobao_zs_relationshop_packge_target_condition
    set taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      max_per_sale = #{maxPerSale,jdbcType=BIGINT},
      min_per_sale = #{minPerSale,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>