<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juzuan.advertiser.rpts.mapper.ZiDianMapper" >
  <resultMap id="BaseResultMap" type="com.juzuan.advertiser.rpts.model.ZiDian" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="conditon_id" property="conditonId" jdbcType="BIGINT" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
    <result column="code_name" property="codeName" jdbcType="VARCHAR" />
    <result column="code_value" property="codeValue" jdbcType="VARCHAR" />
    <result column="desc_name" property="descName" jdbcType="VARCHAR" />
    <result column="desc_value" property="descValue" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_time, update_time, conditon_id, category_name, code_name, code_value, 
    desc_name, desc_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from zi_dian
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from zi_dian
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.juzuan.advertiser.rpts.model.ZiDian" >
    insert into zi_dian (id, create_time, update_time, 
      conditon_id, category_name, code_name, 
      code_value, desc_name, desc_value
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{conditonId,jdbcType=BIGINT}, #{categoryName,jdbcType=VARCHAR}, #{codeName,jdbcType=VARCHAR}, 
      #{codeValue,jdbcType=VARCHAR}, #{descName,jdbcType=VARCHAR}, #{descValue,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.juzuan.advertiser.rpts.model.ZiDian" >
    insert into zi_dian
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="conditonId != null" >
        conditon_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
      <if test="codeName != null" >
        code_name,
      </if>
      <if test="codeValue != null" >
        code_value,
      </if>
      <if test="descName != null" >
        desc_name,
      </if>
      <if test="descValue != null" >
        desc_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="conditonId != null" >
        #{conditonId,jdbcType=BIGINT},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="codeName != null" >
        #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null" >
        #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="descName != null" >
        #{descName,jdbcType=VARCHAR},
      </if>
      <if test="descValue != null" >
        #{descValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juzuan.advertiser.rpts.model.ZiDian" >
    update zi_dian
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="conditonId != null" >
        conditon_id = #{conditonId,jdbcType=BIGINT},
      </if>
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="codeName != null" >
        code_name = #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null" >
        code_value = #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="descName != null" >
        desc_name = #{descName,jdbcType=VARCHAR},
      </if>
      <if test="descValue != null" >
        desc_value = #{descValue,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juzuan.advertiser.rpts.model.ZiDian" >
    update zi_dian
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      conditon_id = #{conditonId,jdbcType=BIGINT},
      category_name = #{categoryName,jdbcType=VARCHAR},
      code_name = #{codeName,jdbcType=VARCHAR},
      code_value = #{codeValue,jdbcType=VARCHAR},
      desc_name = #{descName,jdbcType=VARCHAR},
      desc_value = #{descValue,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>